<!DOCTYPE html>
<html>

<head>
  <title>
    vs code clone
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <!-- left part -->
    <div class="left">
      <!-- left top part -->
      <div class="left-top">
        <!-- vs code heading -->
        <h3>vs code clone</h3>
        <!-- icons div -->
        <div class="icons">
          <i onclick="fileopen()" class="ri-file-add-line"></i>
          <i onclick="folderopen()" class="ri-folder-add-line"></i>
          <i class="ri-refresh-line"></i>
        </div>
      </div>

      <div class="inputs">
         
        <form action="/createFile">
          <input type="text" placeholder="Files" name="file" class="file" autofocus>
        </form>

        <form action="/createFolder">
          <input type="text" placeholder="Folder" name="file" class="folder" autofocus>
        </form>
        
      </div>
      <div class="filesAndFolder">
          <% fileDuplicate.forEach((newobj,i)=>{ %>
            
            <% if(newobj.isFolder==true){ %>

            <h4 id="folder" class="cursorPointer"> 
              <i class="ri-folder-fill"><%= newobj.name%></i>
              <div class="icon-left"><i class="ri-pencil-line"></i><i class="ri-delete-bin-2-line"></i></div>
            </h4>
               <% } else if(newobj.isFolder==false){ %> 
            <h4 id="file" class="cursorPointer">
               <a href="/files/<%= newobj.name %>"><i class="ri-file-line"><%= newobj.name %></i></a>
               <div class="icon-left"><i class="ri-pencil-line"></i><i class="ri-delete-bin-2-line"></i></div></h4>
            <% } %>

          <% }) %>
      </div>


    </div>
    <div class="right">
        <div class="top_open_file_name_div">
            <div class="open_file_name"><%= filename %></div>
        </div>
        <textarea class="text_div" contenteditable="true">
          <%= filedata %>
        </textarea>
    </div>
  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>